extends ../layout.pug

block title 
    | 로그인
block content 

    form#LoginForm(method = 'post', action = '/login')
        div 
            input#username-input(name = 'userid', type = 'text' placeholder = '아이디')
        div     

            input#password-input(name = 'password', type = 'password' placeholder = '비밀번호')
        button#login_btn(type = 'submit') 로그인
        