doctype html 
html 
    head 
        title 회원가입
    body    
        form(method = 'post', action = '/login')
            div 
                label 아이디: 
                input#username-input(name = 'username', type = 'text')
            div     
                label 이메일:
                input#email-input(name = 'email', type ='email')
            div     
                label 비밀번호: 
                input#password-input(name = 'password', type = 'password')
            div     
                label 비밀번호-확인: 
                input#password-input(name = 're_password', type = 'password')
            button(type = 'submit') 로그인